aside {
  background: var(--white);
  height: 200px;
  padding: 1.8rem;
}

aside p {
  display: flex;
  justify-content: space-between;
}

aside p span{
  font-weight: 700;
}

hr {
  border-top: 1px solid lightgray;
}

@media (min-width: 600px) {
  aside {
    order: 2;
  }
}
