section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

/*tablet or above*/
@media (min-width: 600px) {
  section {
    flex-direction: row;
  }
}

.milesBox {
  width: 200px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
}

.milesBox:first-of-type {
  background-color: var(--black);
  color: var(--white)
}
