body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #222222;
  --white: #F2F2F2;
  --grid-columns: 1fr;
  --border-radius: 5px;
  --grid-columns-form: 1fr;
}

/* Tablet style*/
@media (min-width: 600px) {
  :root {
    --primary-color: blue;
    --grid-columns: 1fr 1fr 1fr;
    --grid-columns-form: 2fr 1fr;
  }
  body {
    width: 80%;
    margin: auto;
  }
}
